<Configuration id="builtin.rolling">
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%logger/%class [%level] %message%n" />
        </Console>
        <RollingFile name="file" append="true">
            <fileName>logs/app.log</fileName>
            <filePattern>logs/app.log.%d{yyyy-MM}</filePattern>
            <PatternLayout pattern="%logger/%class [%level] %mdc %message%n" />
            <Policies>
                <TimeBasedTriggeringPolicy  />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="app.logger" level="info" additivity="false">
            <AppenderRef ref="file" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>